#!/usr/bin/env bash

PYENV="{{ fubarhouse_user_dir }}/{{ fubarhouse_python.main_dir }}/libexec/{{ fubarhouse_python.main_exec }}";

if [[ -n $(cat ~/.profile | grep "pyenv init -") ]]; then
  echo;
else
  echo 'eval "$(${PYENV} init -)"' >> ~/.bash_profile
fi

$PYENV $@;

