#!/usr/bin/env bash

PYENV="{{ fubarhouse_user_dir }}/{{ fubarhouse_python.main_dir }}/libexec/{{ fubarhouse_python.main_exec }}";

PROFILES=(".profile" ".bashrc" ".bash_profile");
for PROFILE in "${PROFILES[@]}"; do
  if [[ -a "${PROFILE}" ]]; then
    if [[ -n $(cat "$HOME/${PROFILE}" | grep "pyenv init -") ]]; then
      echo -n;
    else
      echo 'eval "$(${PYENV} init -)"' >> ~/"${PROFILE}";
    fi
    source "${PROFILE}";
  fi
done

$PYENV $@;

